<?xml version="1.0" standalone='no'?>
 <!DOCTYPE service-group SYSTEM "avahi-service.dtd">
 <service-group>
   <name replace-wildcards="yes">VTouch</name>
   <service>
     <type>_vtouch._tcp</type>
     <port>8081</port>
     <txt-record>HTTP Server</txt-record>
   </service>
 </service-group>